@tailwind base;
@tailwind components;
@tailwind utilities;

/* Loading Spinner */
@keyframes spin-animation {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

:root{
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
  background-color: #F1F5F9;
  /* display: flex;
  justify-content: center;
  align-items: center; */

}

.spinner-container {
  
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff; 
}

.spinner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
}

.spinner-circle {
  position: absolute;
  animation: spin-animation 1s linear infinite;
  width: 60px;
  height: 60px;
  top: 20px; 
  left: 20px; 
  border-radius: 50%;
  box-shadow: 0 5px 0 0 #e15b64; 
  transform-origin: 32px 32px;
}



/* styling for active filtering product of product list */
.active-filter-product {
  position: relative; 
  background-color: #46EDD5;
}


.active-filter-product::after {
  content: '✅'; 
  position: absolute;
  top: -5px; 
  right: 5px; 
  width: 5px; 
  height: 5px;
  /* background-color: #FF0000; */
  z-index: 1;
}



/* global text responsive  */
/* @layer base {
  h1 {
    @apply text-xl sm:text-2xl md:text-3xl lg:text-3xl font-bold;
  }
  
  h2 {
    @apply text-lg sm:text-sm md:text-xl lg:text-2xl font-semibold;
  }
  
  p {
    @apply text-sm sm:text-base md:text-lg lg:text-xl ;
  }
  ul {
    @apply list-disc list-inside text-sm sm:text-base md:text-lg lg:text-xl;
  }
  
  li {
    @apply mb-2;
  }
} */



/* nav animation */



.nav-animation {
  position: relative;
  display: inline-block;
}

.nav-animation::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: blueviolet;
  transition: width 0.3s ease-in-out;
}

.nav-animation:hover::before {
  width: 100%;
}




/* cart css */
